[defaults]
# Где искать файл инвентаря по умолчанию
inventory = ./inventory/hosts.yml
# Не спрашивать подтверждение при первом подключении по SSH (удобно для новых ВМ)
host_key_checking = False
# Не создавать мусорные файлы .retry при ошибках
retry_files_enabled = False
# Отключить предупреждения о версиях Python (если вы уверены в среде)
#deprecation_warnings = False